@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrap {
  font-family: Roboto;
  display: grid;
  grid-template-areas: 'sidebar ... content content';
  margin: auto;
  width: 50%;
  color: darkblue;
  padding: 10px;
}

.title {
  color: darkblue;
  margin-left: 15px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.link {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}